@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Inter', sans-serif;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    line-height: 24px;
}
.container {
    padding: 96px 0;
}

.row {
    width: 100%;
    max-width: 1285px;
    margin: 0 auto;
}

li {
    list-style-type: none;
}

a {
    position: relative;
    text-decoration: none;
}

.nav__link:hover,
.nav__link--login:hover {
    color: rgb(100 21 255);
}

.link__hover-effect:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;

    bottom: -5px;
    left: 0;
    right: 0;

    opacity: 0;

    transition: all 300ms ease;
}

/* Ao dar hover no elemento com a classe "hover-effect", ele faz com que a barra surja. */
.link__hover-effect:hover:after {
    /* a distancia relativa a margem da direita é 0 */
    opacity: 1;
}

.link__hover-effect--purple:after {
    background-color: rgb(100 21 255);
}

.link__hover-effect--white:after {
    background-color: snow;
}

img {
    width: 100%;
}

button {
    cursor: pointer;
}

.btn {
    border: none;
    border-radius: 9999px;

    color: snow;
    background-color: #6415FF;

    width: 100%;
    margin: 8px 8px 8px 0;
    padding: 12px 32px;

    font-size: 16px;
    font-weight: bold;

    transition: all 300ms ease;
}

.btn__menu {
    background-color: transparent;
    font-size: 25px;
    text-align: center;
    border: none;
    color: #243E63;

    display: none;
}

.btn__menu:active {
    color: #6415FF;
}

.menu__backdrop {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    background-color: snow;
    
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    width: 100vw;
    height: 100vh;
    z-index: 100;

    /* display: none; */
    visibility: hidden;
    opacity: 0;

    transition: all 300ms ease;
}

.menu--open {
    max-height: 100vh;
    overflow-y: hidden;
}

.menu__btn--container {
    position: absolute;
    right: 35px;
    top: 35px;
}

.menu--open .menu__backdrop {
    visibility: visible;
    opacity: 1;
}

.menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 18px;
    font-weight: 700;
}

.menu__list {
    padding: 18px 0;
}

.menu__link {
    color: #243E63;
}

.btn__hover-effect:hover {
    background-color: rgb(60, 13, 153);
}

.column-reverse {
    flex-direction: column-reverse !important;
}

.purple {
    color: #6415FF;
}

.snow {
    color: snow !important;
}

.salmon {
    color: salmon;
}

.green {
    color: rgb(154, 230, 180);
}

/* 

    NAVIGATION BAR

*/

nav {
    display: flex;
    height: 100px;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    max-width: 1250px;
    height: 100%;

    /* margin: 0 auto; */
    padding: 0 32px;
}

.nav__logo--wrapper {
    display: flex;
    align-items: center;
}

.nav__logo {
    height: 40px;
}

.nav__logo--text {
    color: #243E63;

    padding-left: 10px;

    font-weight: 900;
    font-size: 1.5em;

    transition: color 300ms ease;
}

.nav__logo--text:hover {
    color: rgb(100, 21, 255);
}

.nav__links {
    display: flex;

    font-weight: bold;
    font-size: 14px;
}

.nav__link {
    margin-right: 50px;
    color: #243E63;
    font-weight: 600;
    letter-spacing: 0.025em;

    transition: all 350ms ease;
}

.nav__link--login {
    margin-left: 50px;
    margin-right: 15px;

    color: #243E63;
    font-weight: 600;
    letter-spacing: 0.025em;

    transition: all 350ms ease;
}

.nav__link--priority {
    background-color: #6415FF;
    color: snow;
    
    border-radius: 9999px;

    font-weight: 600;
    letter-spacing: 0.025em;
    padding: 12px 32px;

    transition: all 300ms ease;
}

.nav__link--priority:hover {
    color: rgb(237 242 247);
    background-color: rgb(80, 17, 204);
}

/* 

    HEADER

*/

header {
    /* height: calc(100vh - 100px); */
    animation: left_slide 1000ms ease;
}

.header__container {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;

    width: 100%;

    /* max-width: 720px; */
    /* height: 100vh; */

    padding: 80px 32px 0 32px;;
    margin: 0 auto;
}

.header__description {
    display: flex;
    flex-direction: column;

    width: 40%;
}

.header__title {
    color: #1A202C;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.25;
}

.header__para {
    color: #243E63;
    font-size: 18px;
    margin: 32px 0;
}

.header__subscription--wrapper {
    position: relative;
    max-width: 28rem;
}

.header__subscription {
    width: 100%;
    padding: 20px 32px;

    font-weight: 500;
    font-size: 16px;

    border: 2px solid rgb(226, 232, 240);
    border-radius: 9999px;

}

.header__subscription::placeholder {
    color: rgb(226, 232, 240);
    opacity: 1;
}

.header__btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    /* top: 0px; */
    bottom: -24.5px;
    right: 0px;

    padding: 16px 0 16px 0;
    width: 10rem;
    height: 52px;
    line-height: 1.5;
}

.header__img--wrapper {
    width: 60%;
}

.header__img {
    width: 100%;
    height: 100%;
}

.header__customers--wrapper {
    margin-top: 80px;
}

.header__customers--title {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.05em;
    color: #A0AEC0;
}

.header__customers {
    width: 100%;
    margin-top: 1rem;
    padding-right: 8rem;

    opacity: 0.5;
}

/* 

    SECTIONS

*/

.section__container {
    display: flex;
    align-items: center;
}

.section__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section__description--center {
    align-items: center;
}

.section__description--width {
    width: 50%;
}

.section__overtitle,
.section__title,
.section__para {
    margin-bottom: 16px;
}

.section__overtitle {
    font-weight: 700;
    letter-spacing: 0.1em;
}

.section__title {
    color: #243E63;

    font-size: 48px;
    font-weight: 900;
    line-height: 1.25;

    margin-bottom: 30px;
}

.section__title--width {
    max-width: 580px;
}

.section__para {
    text-align: left;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.625;

    color: rgb(124, 139, 161);

    max-width: 576px;
}

.section__img--wrapper {
    width: 50%;
}

.section__img--border {
    border: 1px solid lightgray;
    border-radius: 5px;
}

/* 

FEATURES

*/

.feature__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin: 0 auto;
    padding: 0 16px;

    width: 100%;
    max-width: 1000px;
}

.feature, .step {
    display: flex;
    align-items: flex-start;

    width: calc(100% / 3);
    /* max-width: 300px; */

    /* border: 1px solid black; */

    padding: 32px 8px;
    margin-top: 16px;
}

.section__icon--wrapper {
    display: flex;
    padding: 20px;
    /* width: 24px; */
}

.icon__border {
    border: 1px solid rgb(226, 232, 240);
    border-radius: 9999px;
}

.highlight__icon {
    width: 24px;
}

.highlight__description {
    padding: 8px 0 0 16px;
    margin-right: 16px;
}

.highlight__title {
    color: #243E63;

}

.highlight__para {
    font-size: 16px;
    font-weight: 500;
    line-height: 2;

    color: rgb(124, 139, 161);
    
    margin-top: 1rem;
}

/* REASSURANCE */

.reassurance__btn {
    max-width: 10rem;
}

/* STEPS */

.step {
    padding: 0;
    width: 100%;
}

.steps__container {
    margin-left: 64px;
}

.step__icon {
    color: #CBD5E0;

    font-size: 36px;
    font-weight: 600;

    padding: 0;
}

.step__description {
    margin-left: 24px;
    max-width: 320px;
}

.step__title {
    /* display: flex; */
    
    color: #243E63;
    font-weight: 600;
    font-size: 20px;
}

.step__para {
    color: #718096;
    font-size: 14px;
    line-height: 2;
    font-weight: 500;

    margin-top: 12px;
}

/* 

    VALUES

*/

.values__highlight {
    display: flex;
}

.value {
    margin: 32px 32px 40px 0;
}

.value__title {
    /* color: #243E63; */

    font-weight: 700;
    font-size: 20px;
}

.value__para {
    color: #718096;
    font-size: 16px;
    margin-top: 16px;
}

.values__btn {
    width: 9rem;
    font-size: 0.875rem;
}

/* 


PRICING


*/

.plans {
    display: flex;
    /* flex-wrap: wrap; */
}

.plan {
    position: relative;
    border: 1px solid rgba(211, 211, 211, 0.35);
    border-radius: 10px;

    margin-top: 64px;
    margin-right: 32px;

    width: calc(100% / 3);

    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.plan,
.plan__title,
.plan__description,
.plan__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
}

.plan__title {
    padding: 32px 0;
}

.plan__price {
    font-size: 48px;

    margin: 4px 0;
}

.plan__description {
    border-top: 2px solid rgb(226, 232, 240); 
    border-bottom: 2px solid rgb(226, 232, 240);

    width: 100%;
    /* max-width: 320px; */

    padding: 32px;
}

.plan__benefit {
    margin-top: 20px;
}

.plan__bottom {
    padding: 32px 64px;
}

.plan__btn:hover {
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);
    transform: translate(1px, -1px);
}

.plan__type, 
.plan__price, 
.plan__client-type {
    color: #1A202C;
}

.plan__type, 
.plan__price, 
.plan__duration, 
.plan__client-type {
    font-weight: 700;
    line-height: 1.625;
}

.plan__type, 
.plan__client-type, 
.plan__benefit {
    font-size: 20px;
}

.plan__duration,
.plan__benefit {
    color: #A0AEC0;

    font-size: 16px;
}

/* SPECIFIC */


.plan__personal--hat {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;

    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.plan__personal--btn {
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.plan__business {
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.plan__description--buss {
    border-color: rgb(102 126 234);
}

.plan__title--buss {
    color: snow;
}

.plan__business--btn {
    color: #6415FF;
    background-color: snow;
}

.plan__enterprise--hat {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;

    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.plan__enterprise {
    margin: 64px 0 0 0;
}

.plan__enterprise--btn {
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.plan__personal--btn,
.plan__business--btn,
.plan__enterprise--btn {
    font-size: 14px;

    width: 192px;
    height: 53px;

    margin: 0;
    padding: 16px 32px;
}

/* 

    TESTIMONIALS

*/

.section__testimonial--description {
    padding-left: 64px;
}

.testimonial {
    margin-top: 40px;
}

.testimonial__rating {
    color: rgb(246, 173, 85);
    font-size: 20px;
}

.fa-star {
    margin-right: 4px;
}

.testimonial__title {
    margin-top: 16px;
    color: #243E63;
}

.testimonial__para {
    color: #4A5568;
    margin: 16px 0 40px 0;
    margin-left: 0;
    font-weight: 500;
}

.testimonial__profile {
    display: flex;
    align-items: center;
}

.testimonial__id {
    margin-left: 24px;
}

.testimonial__name {
    color: #243E63;
    font-size: 20px;
    font-weight: 700;
}

.testimonial__role {
    color: #7C8BA1;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    text-align: left;
}

.testimonial__img--wrapper {
    max-width: 80px;
}

.testimonial__img {
    border-radius: 50px;
}

/* 

    POP UP

*/

.popup__container {
    width: 95%;
    margin: 0 auto;
}

.popup {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
    border-radius: 8px;

    max-width: 100%;
    min-height: 280px;
    margin: 0 auto;

    background-color: rgb(100, 21, 255);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.popup__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.popup__title {
    font-size: 30px;
    line-height: 1.5;
    color: #F7FAFC;

    max-width: 480px;
    margin-right: 100px;
}

.popup__buttons {
    width: 100%;
    max-width: 400px;
}

.btn__get-started,
.btn__contact-us {
    padding: 20px 40px;

    max-width: 175px;
    height: 66px;
}

.btn__get-started {
    color: rgb(237, 242, 247);
    background-color: #F56565;

    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);

    margin-right: 32px;
}

.btn__get-started:hover {
    background-color:  rgb(229, 62, 62);
}

.btn__contact-us {
    border: 1px solid rgb(160, 174, 192);
}

.btn__contact-us:hover {
    background-color: rgb(247, 250, 252);
    color: rgb(100, 21, 255);
}
/* FOOTER */

.footer__container {
    display: flex;

    padding: 80px 32px;
}

footer {
    background-color: #6415ff;

    margin-top: 96px;
}

.footer__link--title {
    color: #F7FAFC;

    font-size: 16px;
    font-weight: 700;

    /* margin-bottom: 18px; */
    margin-top: 20px;
}

.footer__links--wrapper {
    display: flex;
    justify-content: space-between;

    padding-bottom: 64px;
}

.footer__link {
    display: inline-block;
    color: #F7FAFC;

    font-size: 14px;
    font-weight: 500;
    
    margin: 4px 0 12px 0;
}

.credentials__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-top: 2px solid rgb(116, 44, 255);

    padding-top: 64px;
}

.footer__logo--wrapper {
    display: flex;
    align-items: center;
}

.footer__logo {
    max-width: 32px;
}

.footer__logo--title {
    font-size: 20px;
    color: #F7FAFC;
    margin-left: 8px;
    font-weight: 900;
    letter-spacing: 0.05em;
}

.footer__copyright {
    font-size: 16px; 
    color: #CBD5E0;
    font-weight: 500;
}

.footer__social--container {
    display: flex;
}

.footer__social--icon {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 32px;
    width: 32px;

    background-color: snow;
    border-radius: 15px;
}

.footer__social--icon {
    margin-left: 16px;
}

/* 

    KEYFRAMES

*/

@keyframes left_slide {
    0% {
        transform: translateX(-1500px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes right_slide {
    0% {
        transform: translateX(1500px);
    }

    100% {
        transform: translateX(0);
    }
}

/* 

    MEDIA QUERIES

*/

/* SMALL PHONES, TABLETS, LARGE SMARTPHONES: 768px */

@media screen and (max-width: 768px) {

    .btn__menu {
        display: block;
    }



    .nav__links {
        display: none;
    }

    .header__container {
        flex-direction: column;
        /* padding-bottom: 96px; */
    }

    .header__description {
        max-width: 512px;
        width: 100%;
    }

    .header__title {
        font-size: 30px;
    }

    .header__para {
        font-size: 16px;
    }

    .header__customers--title {
        text-align: center;
    }

    .header__customers {
        padding: 0;
    }

    .feature {
        width: calc(100% / 2);
        /* padding: 32px 0; */
    }

    .section__container {
        padding: 0 32px;
    }

    .section__title {
        font-size: 36px;
    }

    .section__para {
        font-size: 16px;
        /* text-align: center; */
    }

    .plans {
        flex-direction: column;
        align-items: center;
    }

    .plan {
        width: 100%;
        max-width: 384px;
        
        padding: 8px 32px 0 32px;
        margin: 32px 0;
    }

    .popup__wrapper {
        flex-direction: column;
    }

    .popup {
        min-height: 332px;
    }

    .popup__title {
        text-align: center;
        margin: 0;
    }

    #pricing .section__title,
    #features .section__title {
        font-size: 48px;
    }

    #pricing .section__para,
    #features .section__para {
        text-align: center;
    }
}
/* SMALL PHONES, LARGE SMARTPHONES: 550px */

@media screen and (max-width: 550px) {

    .header__title, 
    .header__para {
        max-width: 486px;
        text-align: center;
    }

    .header__subscription--wrapper {
        display: flex;
        flex-direction: column;

        height: 132px;
        margin: 0 auto;
    }

    .header__img--wrapper {
        width: 100%;
    }

    .header__btn {
        position: initial;
        width: 100%;
    }

    .footer__links--wrapper {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .footer__links {
        width: calc(100% / 3);
        text-align: center;
    }

    .credentials__container {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .feature {
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .highlight__para {
        max-width: 336px;
    }

    .section__container {
        flex-direction: column;
    }

    .section__img--wrapper {
        width: 95%;
    }

    .section__description--width {
        width: 100%;
        max-width: 448px;
    }

    .section__overtitle,
    .section__title,
    .section__para {
        text-align: center;
    }

    .section__overtitle {
        font-size: 16px;
    }
    .section__title {
        font-size: 30px;
    }
    .section__para {
        font-size: 14px;
    }

    .section__btn--link {
        margin: 0 auto;
    }

    .step {
        flex-direction: column;
        align-items: center;
    }
    
    .steps__container,
    .step__description {
        margin: 12px 0 0 0;
    }

    .step__description {
        text-align: center;
    }

    .value {
        margin: 32px 0px 40px 0px;
    }

    .values__highlight {
        flex-direction: column;
        text-align: center;
    }

    .value__para {
        max-width: 320px;
    }

    .section__testimonial--description {
        padding: 0;
        margin-top: 64px;
        min-width: 365px;
    }

    .plans {
        padding: 0 24px;
    }

    .testimonial {
        text-align: center;
    }

    .testimonial__profile {
        flex-direction: column;
    }

    .testimonial__id {
        margin: 0;
    }

    .popup__wrapper {
        width: 100%;
    }

    .popup__title {
        width: 100%;
        max-width: 422px;
        font-size: 24px;
    }

    .popup__buttons {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-top: 32px;
    }

    .btn__get-started {
        margin: 8px 0;
    }

    .btn__get-started,
    .btn__contact-us {
        font-size: 14px;
        padding: 12px 24px;
        height: 100%;
    }

}
